body{
    font-family: 'Redressed', cursive;
    font-size: 50PX;
    margin: 0;
}
section{
    height: 500px;
}
p{
    color: dimgray;
    font-weight: 700;
    font-size: 20px;
    font-family: font-family: 'Redressed', cursive;
    font-family: 'Source Sans Pro', sans-serif;
}
.orange-highlight{
    color: orange;
}
.half-part{
    margin-left: 5%;
    padding-left: 2%;
    float: left;
    width: 40%;

}
img{
    width: 100%;
    padding-top: 20px;;
}
.top-banner{
   background-image: url(images/top-banner00.png);
   background-repeat: no-repeat;
}